.infor {
    display: flex;
    flex-direction: column;
    padding: 7px 16px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
// .infor-title{

// }
// .infor-icons{

// }
