@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    //default layout;
    --default-layout-height: 88px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: rgb(120, 120, 120);
    --cost-color: rgb(255, 66, 78);
    --primary: #fe2c55;
    --white: #fff;
    --background: #f5f5fa;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
.slick-slide img {
    width: 98%;
    display: block;
}
